body {
    background-color: white;
}
  
h1 {
    color: black;
    text-align: center;
}
  
p {
    color: black;
    text-align: center;
    /* font-family: verdana; */
    /* font-size: 20px; */
}

table {
    width: 100%;
}

img {
    width: 175px;
    height: 150px;
}